.header{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    height: 100px;
    top: 0;
    position: sticky;
}
.headerContent{
    display: flex;
    height: 100px;
}
.headerLogoLink{
    margin: 0 80px;
}
.headerLogo{
    height: 160%;
    width: 100%;
    margin: -28px 10px;
}
.headerNav{
    margin: 35px 625px;
    margin-right: 5px;
}
.headerLink{
    color: rgba(0, 0, 0, .5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin: 100px 10px;
    text-decoration: none;
}
.headerLink:hover{
    border-bottom: 2px solid #e78200;
    border-top: 2px solid #e78200;
    color: #e78200;
    font-size: 18px;
    font-weight: normal;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdownContent {
    border-top: 5px solid #e78200;
    display: none;
    position: absolute;
    background-color: #ffffff;
    margin: 0px 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.headerLink1{
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 10px;
    text-decoration: none;
}
.headerLink1:hover{
    border-bottom: 2px solid #e78200;
    border-top: 2px solid #e78200;
    color: #e78200;
    font-size: 18px;
    font-weight: normal;
}
.dropdownContent .headerLink1 {
    color: rgba(0, 0, 0, .5);
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownContent .headerLink1:hover {
    background-color: #f5f5f5;
    color: #e78200;
    font-size: 15px;
    font-weight: normal;
}

.dropdown:hover .dropdownContent {display: block;}
.title{
    margin: 50px;
}
.mainHeroContainer{
    background-image: url(https://images.pexels.com/photos/2954405/pexels-photo-2954405.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 50px;
    margin-top: -70px;
    /* width: 100%; */
}
.mainHeroContainerHouses{
    background-image: url(https://images.pexels.com/photos/2954405/pexels-photo-2954405.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 50px;
    margin-top: -70px;
}
.mainHeroContainer1{
    background-image: url(https://images.pexels.com/photos/2433164/pexels-photo-2433164.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 50px;
    margin-top: -70px;
    /* width: 100%; */
}
.mainHeroContainer2{
    background-image: url(https://images.pexels.com/photos/4968391/pexels-photo-4968391.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 50px;
    margin-top: -70px;
    /* width: 100%; */
}
/* .mainHeroImg{
    height: 500px;
    width: 100%;
} */
.mainHeroTitle{
    background-color:rgba(3, 3, 3, 0.5);
    height: 500px;
    margin-bottom: 50px;
    margin-top: -50px;
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.mainDivTitle{
    margin-bottom: -82px;
}
.mainTitle{
    color: #e78200;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
.mainDivContents{
    display: flex;
    margin-bottom: -50px;
}
.mainCategories{
    background-image: url(https://images.unsplash.com/photo-1501290836517-b22a21c522a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    margin: 50px 20px;
    height: 400px;
    width: 50%;
}
.mainCategories1{
    
    background-image: url(https://photos.prnewswire.com/prn/20141105/714083-a);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    margin: 50px 20px;
    height: 400px;
    width: 50%;
}
.mainCategories2{
    background-image: url(https://media.istockphoto.com/photos/home-improvement-concept-work-tools-and-house-picture-id854364186?k=6&m=854364186&s=612x612&w=0&h=11xQw_LMRki184Ya8z4gCHSRzNsWEtf-mryrTjjBtH4=);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    margin: 50px 20px;
    height: 400px;
    width: 50%;
}
.mainCategories3{
    background-image: url(https://i.pinimg.com/originals/86/8f/cb/868fcb734126ad6321ab6ed68647452a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    margin: 50px 20px;
    height: 400px;
    width: 50%;
}
.mainCategories4{
    background-image: url(https://blog.murdochs.net.au/wp-content/uploads/2018/04/0Q1A9705.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    margin: 50px 20px;
    height: 400px;
    width: 50%;
}
.mainCategories5{
    background-image: url(https://i2.wp.com/movingtips.wpengine.com/wp-content/uploads/2018/05/home-for-sale-living-room.jpg?fit=1024%2C684&ssl=1);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    margin: 50px 20px;
    height: 400px;
    width: 50%;
}
.mainCategories:hover, .mainCategories1:hover, .mainCategories2:hover, .mainCategories3:hover, .mainCategories4:hover, .mainCategories5:hover{
    margin: 50px 30px;
    width: 55%;
}
.mainTitle1{
    background-color: rgba(3, 3, 3, .5);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #f5f5f5;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    height: 400px;
    margin: 0px 0;
    padding: 180px;
    text-align: center;
}
.mainTitle1:hover{
    color: #e78200;
    font-size: 50px;
}
.mainContents{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    margin: 50px 150px;
    /* height: 500px; */
    /* width: 80%; */
}
.mainItmes{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}
.mainImg{
    height: 160px;
    /* margin: 10px; */
    width: 242px;
    border-top-right-radius: 20px;
}
.mainDiv{
    /* border: 1px solid; */
    margin: 50px 20px;
    height: 320px;
    width: 242px;
    background-color: #f5f5f5;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
}
.mainProductName{
    color: #e78200;
    display: -webkit-box;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 230px;
}
.mainAboutProduct{
    color: rgba(0, 0, 0, .5);
    display: -webkit-box;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    margin: 0 5px;
    margin-bottom: 2px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 230px;
}
.mainSubDiv{
    display: flex;
}
.mainPrice{
    color:  rgba(3, 3, 3, 0.9);
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin: 5px;
}
.mainDetailbtn{
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    margin: 5px 68px;
    margin-right: 5px;
}
.mainDetailbtn:hover{
    background-color: #ffffff;
    border: 1px solid #e78200;
    color: #e78200;
}
.mainAboutTitle{
    color: #e78200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
.mainAboutTitle1{
    color: #e78200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.mainContent{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    margin: 50px 150px;
    height: 288px;
    width: 80%;
}
.mainMembers{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 50px;
}
.mainAboutDiv{
    background-color: #f5f5f5;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    height: 400px;
    margin: 50px 20px;
    width: 80%;
}
.mainAboutDiv:hover{
    height: 400px;
    margin: 80px 20px;
}
.mainMemberPhoto{
    height: 238px;
    width: 238px;
    border-top-right-radius: 10px;
}
.mainContactIcon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.mainContactIcon:hover{
    background-color: #e78200;
}
.mainContactIcon1{
    border-radius: 50%;
    height: 57px;
    width: 57px;
    margin: -3.5px 0;
}
.mainContactIcon1:hover{
    background-color: #e78200;
}
.mainAboutDiv{
    color: rgba(0, 0, 0, .5);
    font-size: 18px;
    text-align: center;
}
.footer{
    background-color: rgba(3, 3, 3, 0.9);
    height: 300px;
    margin-bottom: 0;
    padding: 10px 0;
    width: 100%;
}
.footerContent{
    display: flex;
    flex-wrap: wrap;
}
.footerImg{
    margin: 42px 100px;
}
.footerDiv{
    border-right: 1px solid rgba(25, 42, 70, 0.13);
    height: 100px;
    margin: 15px 100px;
}
.footerNav{
    margin: 30px 70px;
}
.footerTitle{
    color: #e78200;
    display: block;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0;
    padding: 0 8px;
    text-decoration: none;
}
.footerLink{
    color: #f5f5f5;
    display: block;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin: -8px 0;
    padding: 0 8px;
    text-decoration: none;
    /* width: 82px; */
}
.footerLink:hover{
    color: #e78200;
}
.footerInfo{
    color: #f5f5f5;
    display: block;
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin: 1px -10px;
    /* margin: -30px 35px; */
    padding: 0 8px;
    text-decoration: none;
}
.footerContactInfo{
    display: flex;
    width: 242px;
}
.footerContactImg{
    height: 10%;
    width: 10%;
    margin: 0 8px;
}
.footerContactImg1{
    width: 12%;
    height: 12%;
    margin: 0 5px;
}
.footerLinks{
    margin: 0 150px;
}
.footerSocialPart{
    margin: 68px -25px;
}
.footerSocialIcons{
    margin: 25px 35px;
}
.footerIcon{
    border-radius: 50%;
    cursor: pointer;
    height: 35px;
    margin: 50px 10px;
    width: 35px;
}
.footerIcon:hover{
    background-color: #f5f5f5;
}
.footerSocialIcon{
    border-radius: 50%;
    height: 30px;
    margin: 0 5px;
    width: 30px;
}
.footerSocialIcon:hover{
    background-color: #e78200;
}
.footerDiv{
    border-top: 1px solid #e78200;
    height: 0;
    margin: -50px 50px;
    margin-bottom: 2px;
}
.footerPara{
    color: #f5f5f5;
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    text-align: center;
}


/*read more page */
.headerpage{
    text-align: center;
  }
  
  .PostSection img{
  width: 40%;
  height: 300px;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .PostSection label{
    font-size: 20px;
  }
  
  /* /read more page */